/* FONT IMPORT */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@font-face {
    font-family: 'HVDRegular';
    /* src: url(fonts\HVDRegular\web fonts\hvdposter_regular_macroman); */
    src: url('/fonts/HVDRegular/web\ fonts/hvdposter_regular_macroman/HVD_Poster-webfont.woff') format('woff')
}

/* UNIVERSAL STYLE */

* {
    border: 0;
    margin: 0;
    font-family: 'Roboto condensed', Arial, sans-serif;
}

/* TOP NAV BAR */

.container {
    display: flex;
}

/* body {
    justify-content: center;
} */

.content {
    justify-content: center;
    width: 1000px;
}

#top-nav {
    background-color: hsla(0,0%,0%,5%);
    width: 100%;
    justify-content: center;
    font-size: 0.875rem;
    font-weight: bold;
    border-bottom: 1px solid black;
}

.tnlinks1 {
    justify-content: space-between;
}

.tnlinks1 nav a {
    padding: 10px 7px;
    margin: 0 8px;
    text-decoration: none;
    color: rgb(128, 128, 128);
}

.tnlinks img {
    max-height: 14px;
    
}

.caps {
    text-transform: uppercase;
}

/* SECOND NAV BAR */

#second-nav {
    width: 100%;
    justify-content: center;
    font-size: 1.25rem;
    font-weight: bold;
    /* border-bottom: 1px solid black; */
    line-height: 1.625;
}

#logo {
    /* background: url(/SAS_Original/Surfers\ Against\ Sewage\ _\ Environmental\ charity\ tackling\ plastic\ pollution_files/sas-logo-full.png); */
    max-width: 150px;
    max-height: auto;
}

#logo img {
    max-height: 100%;
    max-width: 100%;
    padding: 23.5px 0;
}

.tnlinks2 nav a {
    padding: 10px 7px;
    margin: 0 8px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 1.25rem;
}

#join {
    color: red;
}

.snlist {
    list-style:none;
    align-items: center;
}

/* TOP BANNER */

#tbimg1 {
    background: url(/SAS_Original/Surfers\ Against\ Sewage\ _\ Environmental\ charity\ tackling\ plastic\ pollution_files/voice-of-the-ocean-banner.jpg);
    background-color: #01B7C6;
    background-blend-mode: multiply;
    height: 360px;
    min-width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

#tbimg1 div {
    flex-direction: column;
    justify-content: space-around;
    color: white;
}

#tbimg1 p {
    font-family: 'HVDRegular';
    /* justify-content: center; */
}

#tbimg1 p:first-child {
    font-size: 80px;
    font-weight: 400;
}

#tbimg1 p:last-child {
    font-size: 29px;
    font-weight: 400;
}

#tbimg2 {
    /* background: url(/SAS_Original/Surfers\ Against\ Sewage\ _\ Environmental\ charity\ tackling\ plastic\ pollution_files/voice-of-the-ocean-banner.jpg); */
    background-color: /* lightskyblue */ #01B7C6;
    background-blend-mode: multiply;
    height: 360px;
    min-width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

#tbimg2 div {
    flex-direction: row;
    justify-content: space-around;
    align-self: center;
    align-items: center;
    color: white;
}

#tbimg2 div p {
    padding: 0 15px;
}

/* #tbimg2 p {
    font-family: 'HVDRegular';
    /* justify-content: center; */
/*} */

#tbimg2 p:first-child {
    font-size: 80px;
    font-weight: 400;
}

#tbimg2 img {
    max-width: 460px;
}

#tbimg2 p:last-child {
    font-size: 26px;
    font-weight: 400;
}

/* MAIN SECTION */

#gall_head {
    /* background: url(/SAS_Original/Surfers\ Against\ Sewage\ _\ Environmental\ charity\ tackling\ plastic\ pollution_files/voice-of-the-ocean-banner.jpg);
    background-color: #01B7C6;
    background-blend-mode: multiply; */
    /* height: 360px; */
    min-width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

#gall_head div {
    flex-direction: column;
    justify-content: space-around;
    color: white;
}

#gall_head p {
    font-family: 'HVDRegular';
    align-self: center;
    /* justify-content: center; */
}

#gall_head p:last-child {
    color: #00aeb8;
    font-size: 80px;
    font-weight: 4040px;
    margin-bottom: 40px;
}

#gall_head p:first-child {
    color: #0b4b4d;
    font-size: 29px;
    font-weight: 400;
    margin-top: 40px;
}

#gallery {
    justify-content: center;
    align-items: center;
}

#gallery-pics {
    flex-wrap: wrap;
}

#gallery-pics div {
    max-width: 294px;
    margin: 15px;
    text-align: center;
    color: white;
    font-weight: bold;
}

#gallery-pics>div {
    border: 1px solid black;
}

#gallery-pics>div>div {
    height: 375px;
}

#gallery-pics img {
    max-width: 100%;
}



#gallery-pics h3 {
    text-transform: uppercase;
    padding: 20px 0;
    font-size: 20px;
}

#gallery-pics hr {
    border: 1px solid white;
    margin-bottom: 20px;
}

#gallery-pics p {
    font-size: 23px;
}

#gallery-pics .button {
    padding: 22px;
    font-family: 'Roboto condensed', Arial, sans-serif;
    font-size: 19px;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    /* height: 30px; */
    margin: 30px 0;
    /* width: auto; */
    /* max-width: auto; */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

#mmbc, #WQR {
    background-color: #00b6c7;
}

#BAR {
    background-color: #F6565E;
}

#PFC {
    background-color: #4DA0E5;
}

#OCR {
    background-color: #B2D235;
}

#fund {
    background-color: #D6C2AD;
}

#join_us {
    /* border: 1px solid black; */
    position: fixed;
    right: 0;
    top: 33.33%;
    z-index: 4;
    background-color: #92D7E7;
    width: auto;
    padding: 5px;
    border-radius: 5px 0 0 5px;
    box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.5);
}

#join_us a {
    text-decoration: none;
}

#join_us a * {
    color: white;
    vertical-align: middle;
    align-items: center;
}