@font-face {
    font-family: 'hvd_poster_cleanregular';
    src: url('HVD_Poster_Clean-webfont.eot');
    src: url('HVD_Poster_Clean-webfont.eot?#iefix') format('embedded-opentype'),
         url('HVD_Poster_Clean-webfont.woff2') format('woff2'),
         url('HVD_Poster_Clean-webfont.woff') format('woff'),
         url('HVD_Poster_Clean-webfont.ttf') format('truetype'),
         url('HVD_Poster_Clean-webfont.svg#hvd_poster_cleanregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

